# MGT-499 Statistics and Data Science - Individual Assignment

In [1]:
# Import here what you need
import pandas as pd
import numpy as np

This notebook contains the individual assignment for the class MGT-499 Statistics and Data Science. Important information:
- **Content**: the assignment is divided in two main parts, namely data cleaning (2 datasets) and Exploratory Data Analysis, for a total of 13 main questions (see table of contents). Some of these main questions are divided in sub questions. In the first part, the questions are very specific, while in the second part they are more open.
- **Deadline**: Tuesday 8th of November at 23:59. 
- **Final Output**: a Jupyter notebook, which we (teachers) can run. 
- **Answering the Questions**: you will find the questions in markdown cells below. Under each of these cells, you will find a cell / cells for answers. Type there your answer. For the answer to be correct, the cell with the answer must run without error (unless specified). You can use markdown cells for the answers that require text.
- **Submission**: submit the assignment on Moodle, under [Individual Assignment](https://moodle.epfl.ch/mod/assign/view.php?id=1222846)

## Content
- [Polity5 Dataset](#polity5)  
    - [Question 1: Import the data and get a first glance](#question1)
    - [Question 2: Select some variables](#question2)
    - [Question 3: Missing Values](#question3)
    - [Question 4: Check Polity2](#question4)
- [Quality of Government (QOG) Environmental Indicators Dataset](#qog)  
    - [Question 5: Import the data and do few fixes](#question5)
    - [Question 6: Merge QOG and Polity5 ... first attempt](#question6)
    - [Question 7: Merge QOG and Polity5 ... second attempt](#question7)
    - [Question 8: Clean the merged dataframe](#question8)
- [Exploratory Data Analysis](#eda)
    - [Question 9: Selecting the ingredients for the recipe (how I select the variables)](#question9)  
    - [Question 10: Picking the right quantity of each ingredient (how I select my sample)](#question10)
    - [Question 11: Tasting and preparing the ingredients (univariate analysis)](#question11)
    - [Question 12: Cooking the ingredients together (bivariate analysis)](#question12)
    - [Question 13: Tasting the new recipe (conclusion)](#question13)

## Polity5 data <a class="anchor" id="polity5"></a>

Polity5 is a widely used democracy scale. The raw data as well as the codebook are available [here](http://www.systemicpeace.org/inscrdata.html). For this assignment, we have modified a bit the original version, for example we have added the iso3 code for countries to make you save time. You can find the modified version [here](https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/data/polity2_iso3.csv).

### Question 1: import the data and get a first glance <a class="anchor" id="question1"></a>

1a) Import the csv 'polity2_iso3.csv' (file provided in the link [here](https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/data/polity2_iso3.csv)) as a panda dataframe (ignore the warning message) **(1 point)**

In [2]:
# Answer 1a
url = "https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/data/polity2_iso3.csv"

df=pd.read_csv(url)

C:\Users\paula\AppData\Local\Temp\ipykernel_18068\1054286313.py:4: DtypeWarning: Columns (13,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(url)

1b) Display the first 10 rows **(1 point)**

In [3]:
# Answer 1b
df.head(10)

,iso3,year,p5,cyear,ccode,scode,country,flag,fragment,democ,...,interim,bmonth,bday,byear,bprec,post,change,d5,sf,regtrans
0,NaN,1800,0,2711800,271,WRT,Wuerttemburg,0,NaN,0,...,NaN,1.0,1.0,1800.0,1.0,-7.0,88.0,1.0,NaN,NaN
1,NaN,1800,0,7301800,730,KOR,Korea,0,NaN,5,...,NaN,1.0,1.0,1800.0,1.0,1.0,88.0,1.0,NaN,NaN
2,NaN,1800,0,2451800,245,BAV,Bavaria,0,NaN,0,...,NaN,1.0,1.0,1800.0,1.0,-10.0,88.0,1.0,NaN,NaN
3,NaN,1801,0,7301801,730,KOR,Korea,0,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1801,0,2711801,271,WRT,Wuerttemburg,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,1801,0,2451801,245,BAV,Bavaria,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,1802,0,7301802,730,KOR,Korea,0,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,1802,0,2711802,271,WRT,Wuerttemburg,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,1802,0,2451802,245,BAV,Bavaria,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1803,0,7301803,730,KOR,Korea,0,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1c) Display the data types of all the variables included in the data **(1 point)**

In [4]:
# Answer 1c
df.dtypes

iso3         object
year          int64
p5            int64
cyear         int64
ccode         int64
scode        object
country      object
flag          int64
fragment    float64
democ         int64
autoc         int64
polity        int64
polity2     float64
durable      object
xrreg         int64
xrcomp        int64
xropen        int64
xconst        int64
parreg        int64
parcomp       int64
exrec       float64
exconst       int64
polcomp     float64
prior        object
emonth       object
eday         object
eyear        object
eprec        object
interim      object
bmonth       object
bday         object
byear        object
bprec        object
post         object
change       object
d5           object
sf           object
regtrans     object
dtype: object

1d) By looking at your answer in 1c, what is the difference between the different types of variables? Why the type of some variables is defined as object? **(1 point)**

Answer 1d:
As you can see, Pandas is using different names for data types. Here is a description:

|Pandas type|Native Python type|Description|
|:-------|:-------|:----------|
|`object` | `string` | The most general dtype. Will be assigned to your column if column has mixed types (numbers and strings). |
|`int64` | `int` | Numeric characters. 64 refers to the memory allocated to hold this character. |
|`float64` | `float` | Numeric characters with decimals. If a column contains numbers and NaNs (see below), pandas will default to float64, in case your missing value has a decimal.|

Our data frame contains `object` (e.g., strings like countries), `int64` and `float64`. You may wonder about the emissions of arsenic (As), nickel (Ni), and chromium (Cr), which are apparently `object` type. We will discover why later.

### Question 2. Select some variables <a class="anchor" id="question2"></a>

2a) Create a subset dataframe that contains the variables 'iso3', 'country', 'year', 'polity2' and display it **(1 point)**

In [5]:
# Answer 2a
df_subset = df.loc[:, ('iso3', 'country','year','polity2')]
df_subset

      iso3       country  year  polity2
0      NaN  Wuerttemburg  1800     -7.0
1      NaN         Korea  1800      1.0
2      NaN       Bavaria  1800    -10.0
3      NaN         Korea  1801      1.0
4      NaN  Wuerttemburg  1801     -7.0
...    ...           ...   ...      ...
17569  ZWE      Zimbabwe  2014      4.0
17570  ZWE      Zimbabwe  2015      4.0
17571  ZWE      Zimbabwe  2016      4.0
17572  ZWE      Zimbabwe  2017      4.0
17573  ZWE      Zimbabwe  2018      4.0

[17574 rows x 4 columns]

2b) Display the type of the variable "year" **(1 point)**

In [6]:
# Answer 2b
df_subset.dtypes["year"]

dtype('int64')

2c) Convert the variable "year" to string **(1 point)**
<br>
Hint: if you get a warning message of the type "SettingWithCopyWarning", it is because you did not subset the data in the right way. Go back to your class notes and check the different ways to subset a dataframe, and try again. If you do it correctly, you will not get the warning message.

In [7]:
# Answer 2c
df_subset['year'] = df_subset['year'].apply(str)

df_subset.dtypes

iso3        object
country     object
year        object
polity2    float64
dtype: object

In [8]:
print(df_subset.dtypes["year"])

object

In [9]:
df_subset.dtypes

iso3        object
country     object
year        object
polity2    float64
dtype: object

In [10]:
df_subset.dtypes["year"]

dtype('O')

### Question 3: Missing Values <a class="anchor" id="question3"></a>

3a) Subset the rows that have iso3 missing and display **(1 point)**

In [11]:
# Answer 3a
df_subset['iso3'].isna()

0         True
1         True
2         True
3         True
4         True
         ...
17569    False
17570    False
17571    False
17572    False
17573    False
Name: iso3, Length: 17574, dtype: bool

In [12]:
df.loc[0, 'iso3']

nan

In [13]:
df_subset['iso3'].isna()

0         True
1         True
2         True
3         True
4         True
         ...
17569    False
17570    False
17571    False
17572    False
17573    False
Name: iso3, Length: 17574, dtype: bool

In [14]:
df_subset

      iso3       country  year  polity2
0      NaN  Wuerttemburg  1800     -7.0
1      NaN         Korea  1800      1.0
2      NaN       Bavaria  1800    -10.0
3      NaN         Korea  1801      1.0
4      NaN  Wuerttemburg  1801     -7.0
...    ...           ...   ...      ...
17569  ZWE      Zimbabwe  2014      4.0
17570  ZWE      Zimbabwe  2015      4.0
17571  ZWE      Zimbabwe  2016      4.0
17572  ZWE      Zimbabwe  2017      4.0
17573  ZWE      Zimbabwe  2018      4.0

[17574 rows x 4 columns]

3b) Display the countries that have missing iso3. What can you tell by looking at them? Any similarities? **(1 point)**

In [15]:
# Answer 3b
df_subset[(df_subset['iso3'].isna())].country.unique()

array(['Wuerttemburg', 'Korea', 'Bavaria', 'Saxony', 'Parma', 'Tuscany',
       'Sardinia', 'Modena', 'Two Sicilies', 'Baden', 'Gran Colombia',
       'United Province CA', 'Serbia', 'Orange Free State', 'Yemen North',
       'Czechoslovakia', 'USSR', 'Germany West', 'Germany East',
       'Pakistan', 'South Vietnam', 'Yemen South', 'Vietnam',
       'Yugoslavia', 'Ethiopia', 'Serbia and Montenegro', 'Montenegro',
       'Sudan-North'], dtype=object)

3c) Display the countries with missing iso3 from 2011. **(1 point)**

In [16]:
# Answer 3c
iso_missing_countries_since_twenty_eleven = df_subset[(df_subset['iso3'].isna()) & (df_subset['year'] >= '2011')]
sorted_iso_missing_countries_since_twenty_eleven=(iso_missing_countries_since_twenty_eleven['country'].unique())
print(sorted_iso_missing_countries_since_twenty_eleven)

['Montenegro' 'Serbia' 'Ethiopia' 'Sudan-North' 'Vietnam']

3d) Display the rows for which the column "country" contains the word "Serbia". By looking at the result, can you tell what happened to Serbia in 2006? **(1 point)**
<br>
Hint: the most general way of doing this is to use a combination of re.search and list comprehension. To display the full subset, you can use print(df.to_string()).

In [17]:
# Answer 3d
df_subset_serbia = df_subset[(df_subset['country'] == 'Serbia')]
print(df_subset_serbia)

     iso3 country  year  polity2
224   NaN  Serbia  1830     -7.0
230   NaN  Serbia  1831     -7.0
252   NaN  Serbia  1832     -7.0
261   NaN  Serbia  1833     -7.0
272   NaN  Serbia  1834     -7.0
...   ...     ...   ...      ...
1248  NaN  Serbia  2014      8.0
1254  NaN  Serbia  2015      8.0
1263  NaN  Serbia  2016      8.0
1269  NaN  Serbia  2017      8.0
1276  NaN  Serbia  2018      8.0

[104 rows x 4 columns]

In [18]:
print(df_subset_serbia.to_string())

     iso3 country  year  polity2
224   NaN  Serbia  1830     -7.0
230   NaN  Serbia  1831     -7.0
252   NaN  Serbia  1832     -7.0
261   NaN  Serbia  1833     -7.0
272   NaN  Serbia  1834     -7.0
286   NaN  Serbia  1835     -7.0
295   NaN  Serbia  1836     -7.0
301   NaN  Serbia  1837     -7.0
318   NaN  Serbia  1838      2.0
333   NaN  Serbia  1839      2.0
344   NaN  Serbia  1840      2.0
357   NaN  Serbia  1841      2.0
363   NaN  Serbia  1842      2.0
369   NaN  Serbia  1843      2.0
387   NaN  Serbia  1844      2.0
394   NaN  Serbia  1845      2.0
410   NaN  Serbia  1846      2.0
420   NaN  Serbia  1847      2.0
429   NaN  Serbia  1848      2.0
439   NaN  Serbia  1849      2.0
450   NaN  Serbia  1850      2.0
467   NaN  Serbia  1851      2.0
475   NaN  Serbia  1852      2.0
482   NaN  Serbia  1853      2.0
492   NaN  Serbia  1854      2.0
502   NaN  Serbia  1855      2.0
523   NaN  Serbia  1856      2.0
533   NaN  Serbia  1857      2.0
542   NaN  Serbia  1858     -9.0
553   NaN  Serbia  1859     -9.0
572   NaN  Serbia  1860     -4.0
575   NaN  Serbia  1861      0.0
583   NaN  Serbia  1862      0.0
593   NaN  Serbia  1863      0.0
601   NaN  Serbia  1864      0.0
608   NaN  Serbia  1865      0.0
611   NaN  Serbia  1866      0.0
623   NaN  Serbia  1867      0.0
628   NaN  Serbia  1868     -3.0
637   NaN  Serbia  1869     -5.0
642   NaN  Serbia  1870     -5.0
651   NaN  Serbia  1871     -5.0
652   NaN  Serbia  1872     -5.0
657   NaN  Serbia  1873     -5.0
660   NaN  Serbia  1874     -5.0
663   NaN  Serbia  1875     -5.0
665   NaN  Serbia  1876     -5.0
669   NaN  Serbia  1877     -5.0
671   NaN  Serbia  1878     -5.0
673   NaN  Serbia  1879     -5.0
676   NaN  Serbia  1880     -5.0
680   NaN  Serbia  1881     -5.0
684   NaN  Serbia  1882     -5.0
686   NaN  Serbia  1883     -5.0
690   NaN  Serbia  1884     -5.0
693   NaN  Serbia  1885     -5.0
694   NaN  Serbia  1886     -5.0
697   NaN  Serbia  1887     -5.0
700   NaN  Serbia  1888     -5.0
704   NaN  Serbia  1889     -5.0
708   NaN  Serbia  1890     -5.0
709   NaN  Serbia  1891     -5.0
714   NaN  Serbia  1892     -5.0
715   NaN  Serbia  1893     -5.0
718   NaN  Serbia  1894     -5.0
722   NaN  Serbia  1895     -5.0
724   NaN  Serbia  1896     -5.0
729   NaN  Serbia  1897     -5.0
730   NaN  Serbia  1898     -5.0
733   NaN  Serbia  1899     -5.0
737   NaN  Serbia  1900     -5.0
739   NaN  Serbia  1901     -5.0
743   NaN  Serbia  1902     -5.0
745   NaN  Serbia  1903      4.0
748   NaN  Serbia  1904      4.0
749   NaN  Serbia  1905      4.0
751   NaN  Serbia  1906      4.0
753   NaN  Serbia  1907      4.0
755   NaN  Serbia  1908      4.0
758   NaN  Serbia  1909      4.0
759   NaN  Serbia  1910      4.0
761   NaN  Serbia  1911      4.0
762   NaN  Serbia  1912      4.0
763   NaN  Serbia  1913      4.0
764   NaN  Serbia  1914      4.0
765   NaN  Serbia  1915      NaN
766   NaN  Serbia  1916      NaN
767   NaN  Serbia  1917      4.0
769   NaN  Serbia  1918      5.0
773   NaN  Serbia  1919      6.0
774   NaN  Serbia  1920      7.0
1213  NaN  Serbia  2006      8.0
1217  NaN  Serbia  2007      8.0
1218  NaN  Serbia  2008      8.0
1224  NaN  Serbia  2009      8.0
1228  NaN  Serbia  2010      8.0
1231  NaN  Serbia  2011      8.0
1238  NaN  Serbia  2012      8.0
1247  NaN  Serbia  2013      8.0
1248  NaN  Serbia  2014      8.0
1254  NaN  Serbia  2015      8.0
1263  NaN  Serbia  2016      8.0
1269  NaN  Serbia  2017      8.0
1276  NaN  Serbia  2018      8.0

In the dataset we see a period of time where we have no data (1920-2006). This is because Serbia was an autonomous kingdom until 1918. From that year until 2006 it has been part of different countries (i.e. Yugoslavia). From 2006 it became independent again.

In [19]:
df_subset_serbia_twothousandsix = df_subset[(df_subset['country'] == 'Serbia') & (df_subset['year'] == '2006')]
df_subset_serbia_twothousandsix

     iso3 country  year  polity2
1213  NaN  Serbia  2006      8.0

3e) Write a function that does the operation in 4d and use it to display the subset that has the word "sudan" (all lower cap) in country. Then do the same for the word "vietnam" (all lower cap). **(1 point)**
<br>
Hint: options of functions can be very useful.

In [20]:
# Answer 3e
df_subset[(df_subset['country'] == 'sudan')]

Empty DataFrame
Columns: [iso3, country, year, polity2]
Index: []

In [21]:
df_subset[(df_subset['country'] == 'vietnam')]

Empty DataFrame
Columns: [iso3, country, year, polity2]
Index: []

3f) Replace nan values in iso3 with correct iso3 for the 5 countries found in 3c from 2011 onwards, and display the subset with the fixed values to check that everything worked. **(1 point)**
<br>
Hint: the correct iso3 for these 5 countries are "ETH","MNE","SRB","SDN","VNM".

In [22]:
df_subset.isna().sum()

iso3       1270
country       0
year          0
polity2     263
dtype: int64

In [23]:
new_iso3 = df_subset.copy()

countries = ['Montenegro', 'Serbia', 'Ethiopia', 'Sudan-North', 'Vietnam']
iso3_real_codes = ['MNE', 'SRB', 'ETH', 'SDN', 'VNM']

replacement = {'iso3': np.nan}

for country_index, iso3 in zip(countries, iso3_real_codes):

    new_iso3[(new_iso3['country']== country_index) & \
            (new_iso3['year'].astype(int) >=2011)] = \
    new_iso3[(new_iso3['country'] == country_index) & \
            (new_iso3['year'].astype(int) >=2011)].\
    replace(to_replace = replacement, value = iso3)
    
print(new_iso3[(new_iso3['country'] == 'Montenegro') |
              (new_iso3['country'] == 'Serbia') |
              (new_iso3['country'] == 'Ethiopia') |
              (new_iso3['country'] == 'Sudan-North') |
              (new_iso3['country'] == 'Vietnam')].to_string())

     iso3      country  year  polity2
224   NaN       Serbia  1830     -7.0
230   NaN       Serbia  1831     -7.0
252   NaN       Serbia  1832     -7.0
261   NaN       Serbia  1833     -7.0
272   NaN       Serbia  1834     -7.0
286   NaN       Serbia  1835     -7.0
295   NaN       Serbia  1836     -7.0
301   NaN       Serbia  1837     -7.0
318   NaN       Serbia  1838      2.0
333   NaN       Serbia  1839      2.0
344   NaN       Serbia  1840      2.0
357   NaN       Serbia  1841      2.0
363   NaN       Serbia  1842      2.0
369   NaN       Serbia  1843      2.0
387   NaN       Serbia  1844      2.0
394   NaN       Serbia  1845      2.0
410   NaN       Serbia  1846      2.0
420   NaN       Serbia  1847      2.0
429   NaN       Serbia  1848      2.0
439   NaN       Serbia  1849      2.0
450   NaN       Serbia  1850      2.0
467   NaN       Serbia  1851      2.0
475   NaN       Serbia  1852      2.0
482   NaN       Serbia  1853      2.0
492   NaN       Serbia  1854      2.0
502   NaN       Serbia  1855      2.0
523   NaN       Serbia  1856      2.0
533   NaN       Serbia  1857      2.0
542   NaN       Serbia  1858     -9.0
553   NaN       Serbia  1859     -9.0
572   NaN       Serbia  1860     -4.0
575   NaN       Serbia  1861      0.0
583   NaN       Serbia  1862      0.0
593   NaN       Serbia  1863      0.0
601   NaN       Serbia  1864      0.0
608   NaN       Serbia  1865      0.0
611   NaN       Serbia  1866      0.0
623   NaN       Serbia  1867      0.0
628   NaN       Serbia  1868     -3.0
637   NaN       Serbia  1869     -5.0
642   NaN       Serbia  1870     -5.0
651   NaN       Serbia  1871     -5.0
652   NaN       Serbia  1872     -5.0
657   NaN       Serbia  1873     -5.0
660   NaN       Serbia  1874     -5.0
663   NaN       Serbia  1875     -5.0
665   NaN       Serbia  1876     -5.0
669   NaN       Serbia  1877     -5.0
671   NaN       Serbia  1878     -5.0
673   NaN       Serbia  1879     -5.0
676   NaN       Serbia  1880     -5.0
680   NaN       Serbia  1881     -5.0
684   NaN       Serbia  1882     -5.0
686   NaN       Serbia  1883     -5.0
690   NaN       Serbia  1884     -5.0
693   NaN       Serbia  1885     -5.0
694   NaN       Serbia  1886     -5.0
697   NaN       Serbia  1887     -5.0
700   NaN       Serbia  1888     -5.0
704   NaN       Serbia  1889     -5.0
708   NaN       Serbia  1890     -5.0
709   NaN       Serbia  1891     -5.0
714   NaN       Serbia  1892     -5.0
715   NaN       Serbia  1893     -5.0
718   NaN       Serbia  1894     -5.0
722   NaN       Serbia  1895     -5.0
724   NaN       Serbia  1896     -5.0
729   NaN       Serbia  1897     -5.0
730   NaN       Serbia  1898     -5.0
733   NaN       Serbia  1899     -5.0
737   NaN       Serbia  1900     -5.0
739   NaN       Serbia  1901     -5.0
743   NaN       Serbia  1902     -5.0
745   NaN       Serbia  1903      4.0
748   NaN       Serbia  1904      4.0
749   NaN       Serbia  1905      4.0
751   NaN       Serbia  1906      4.0
753   NaN       Serbia  1907      4.0
755   NaN       Serbia  1908      4.0
758   NaN       Serbia  1909      4.0
759   NaN       Serbia  1910      4.0
761   NaN       Serbia  1911      4.0
762   NaN       Serbia  1912      4.0
763   NaN       Serbia  1913      4.0
764   NaN       Serbia  1914      4.0
765   NaN       Serbia  1915      NaN
766   NaN       Serbia  1916      NaN
767   NaN       Serbia  1917      4.0
769   NaN       Serbia  1918      5.0
773   NaN       Serbia  1919      6.0
774   NaN       Serbia  1920      7.0
1058  NaN      Vietnam  1976     -7.0
1071  NaN      Vietnam  1977     -7.0
1075  NaN      Vietnam  1978     -7.0
1081  NaN      Vietnam  1979     -7.0
1092  NaN      Vietnam  1980     -7.0
1096  NaN      Vietnam  1981     -7.0
1105  NaN      Vietnam  1982     -7.0
1113  NaN      Vietnam  1983     -7.0
1115  NaN      Vietnam  1984     -7.0
1125  NaN      Vietnam  1985     -7.0
1130  NaN      Vietnam  1986     -7.0
1137  NaN      Vietnam  1987     -7.0
1145  NaN      Vietnam  1988     -7.0
1151  NaN      Vietnam  1989     -7.0
1162  NaN      Vietnam  1990     -7.0
1164  NaN      Vietnam  1991     -7.0
1167  NaN      Vietnam  1992     -7.0
1170  NaN     Ethiopia  1993      1.0
1171  NaN      Vietnam  1993     -7.0
1174  NaN     Ethiopia  1994      1.0
1175  NaN      Vietnam  1994     -7.0
1176  NaN      Vietnam  1995     -7.0
1177  NaN     Ethiopia  1995      1.0
1179  NaN     Ethiopia  1996      1.0
1180  NaN      Vietnam  1996     -7.0
1182  NaN      Vietnam  1997     -7.0
1184  NaN     Ethiopia  1997      1.0
1185  NaN      Vietnam  1998     -7.0
1186  NaN     Ethiopia  1998      1.0
1189  NaN     Ethiopia  1999      1.0
1190  NaN      Vietnam  1999     -7.0
1191  NaN      Vietnam  2000     -7.0
1192  NaN     Ethiopia  2000      1.0
1194  NaN      Vietnam  2001     -7.0
1195  NaN     Ethiopia  2001      1.0
1198  NaN      Vietnam  2002     -7.0
1199  NaN     Ethiopia  2002      1.0
1200  NaN     Ethiopia  2003      1.0
1202  NaN      Vietnam  2003     -7.0
1203  NaN      Vietnam  2004     -7.0
1204  NaN     Ethiopia  2004      1.0
1206  NaN      Vietnam  2005     -7.0
1208  NaN     Ethiopia  2005     -3.0
1209  NaN   Montenegro  2006      9.0
1210  NaN      Vietnam  2006     -7.0
1211  NaN     Ethiopia  2006     -3.0
1213  NaN       Serbia  2006      8.0
1214  NaN     Ethiopia  2007     -3.0
1215  NaN      Vietnam  2007     -7.0
1216  NaN   Montenegro  2007      9.0
1217  NaN       Serbia  2007      8.0
1218  NaN       Serbia  2008      8.0
1219  NaN      Vietnam  2008     -7.0
1220  NaN   Montenegro  2008      9.0
1221  NaN     Ethiopia  2008     -3.0
1222  NaN      Vietnam  2009     -7.0
1223  NaN   Montenegro  2009      9.0
1224  NaN       Serbia  2009      8.0
1225  NaN     Ethiopia  2009     -3.0
1226  NaN      Vietnam  2010     -7.0
1227  NaN   Montenegro  2010      9.0
1228  NaN       Serbia  2010      8.0
1229  NaN     Ethiopia  2010     -3.0
1230  MNE   Montenegro  2011      9.0
1231  SRB       Serbia  2011      8.0
1233  ETH     Ethiopia  2011     -3.0
1234  SDN  Sudan-North  2011     -4.0
1235  VNM      Vietnam  2011     -7.0
1236  MNE   Montenegro  2012      9.0
1238  SRB       Serbia  2012      8.0
1239  ETH     Ethiopia  2012     -3.0
1240  VNM      Vietnam  2012     -7.0
1241  SDN  Sudan-North  2012     -4.0
1242  VNM      Vietnam  2013     -7.0
1243  MNE   Montenegro  2013      9.0
1244  SDN  Sudan-North  2013     -4.0
1245  ETH     Ethiopia  2013     -3.0
1247  SRB       Serbia  2013      8.0
1248  SRB       Serbia  2014      8.0
1249  ETH     Ethiopia  2014     -3.0
1251  MNE   Montenegro  2014      9.0
1252  SDN  Sudan-North  2014     -4.0
1253  VNM      Vietnam  2014     -7.0
1254  SRB       Serbia  2015      8.0
1255  ETH     Ethiopia  2015     -3.0
1256  SDN  Sudan-North  2015     -4.0
1258  VNM      Vietnam  2015     -7.0
1259  MNE   Montenegro  2015      9.0
1260  MNE   Montenegro  2016      9.0
1262  SDN  Sudan-North  2016     -4.0
1263  SRB       Serbia  2016      8.0
1264  VNM      Vietnam  2016     -7.0
1265  ETH     Ethiopia  2016     -3.0
1266  VNM      Vietnam  2017     -7.0
1268  ETH     Ethiopia  2017     -3.0
1269  SRB       Serbia  2017      8.0
1270  SDN  Sudan-North  2017     -4.0
1271  MNE   Montenegro  2017      9.0
1272  MNE   Montenegro  2018      9.0
1273  SDN  Sudan-North  2018     -4.0
1274  VNM      Vietnam  2018     -7.0
1275  ETH     Ethiopia  2018      1.0
1276  SRB       Serbia  2018      8.0
6431  ETH     Ethiopia  1855      4.0
6432  ETH     Ethiopia  1856      4.0
6433  ETH     Ethiopia  1857      4.0
6434  ETH     Ethiopia  1858      4.0
6435  ETH     Ethiopia  1859      4.0
6436  ETH     Ethiopia  1860      4.0
6437  ETH     Ethiopia  1861      4.0
6438  ETH     Ethiopia  1862      4.0
6439  ETH     Ethiopia  1863      4.0
6440  ETH     Ethiopia  1864      4.0
6441  ETH     Ethiopia  1865      4.0
6442  ETH     Ethiopia  1866      4.0
6443  ETH     Ethiopia  1867      4.0
6444  ETH     Ethiopia  1868      4.0
6445  ETH     Ethiopia  1869      4.0
6446  ETH     Ethiopia  1870      4.0
6447  ETH     Ethiopia  1871      4.0
6448  ETH     Ethiopia  1872      4.0
6449  ETH     Ethiopia  1873      4.0
6450  ETH     Ethiopia  1874      4.0
6451  ETH     Ethiopia  1875      4.0
6452  ETH     Ethiopia  1876      4.0
6453  ETH     Ethiopia  1877      4.0
6454  ETH     Ethiopia  1878      4.0
6455  ETH     Ethiopia  1879      4.0
6456  ETH     Ethiopia  1880      4.0
6457  ETH     Ethiopia  1881      4.0
6458  ETH     Ethiopia  1882      4.0
6459  ETH     Ethiopia  1883      4.0
6460  ETH     Ethiopia  1884      4.0
6461  ETH     Ethiopia  1885      4.0
6462  ETH     Ethiopia  1886      4.0
6463  ETH     Ethiopia  1887      4.0
6464  ETH     Ethiopia  1888      4.0
6465  ETH     Ethiopia  1889      4.0
6466  ETH     Ethiopia  1890      4.0
6467  ETH     Ethiopia  1891      4.0
6468  ETH     Ethiopia  1892      4.0
6469  ETH     Ethiopia  1893      4.0
6470  ETH     Ethiopia  1894      4.0
6471  ETH     Ethiopia  1895      4.0
6472  ETH     Ethiopia  1896      4.0
6473  ETH     Ethiopia  1897      4.0
6474  ETH     Ethiopia  1898      4.0
6475  ETH     Ethiopia  1899      4.0
6476  ETH     Ethiopia  1900      4.0
6477  ETH     Ethiopia  1901      4.0
6478  ETH     Ethiopia  1902      4.0
6479  ETH     Ethiopia  1903      4.0
6480  ETH     Ethiopia  1904      4.0
6481  ETH     Ethiopia  1905      4.0
6482  ETH     Ethiopia  1906      4.0
6483  ETH     Ethiopia  1907      4.0
6484  ETH     Ethiopia  1908      4.0
6485  ETH     Ethiopia  1909      4.0
6486  ETH     Ethiopia  1910      4.0
6487  ETH     Ethiopia  1911      4.0
6488  ETH     Ethiopia  1912      4.0
6489  ETH     Ethiopia  1913      4.0
6490  ETH     Ethiopia  1914      4.0
6491  ETH     Ethiopia  1915      4.0
6492  ETH     Ethiopia  1916      4.0
6493  ETH     Ethiopia  1917      4.0
6494  ETH     Ethiopia  1918      4.0
6495  ETH     Ethiopia  1919      4.0
6496  ETH     Ethiopia  1920      4.0
6497  ETH     Ethiopia  1921      4.0
6498  ETH     Ethiopia  1922      4.0
6499  ETH     Ethiopia  1923      4.0
6500  ETH     Ethiopia  1924      4.0
6501  ETH     Ethiopia  1925      4.0
6502  ETH     Ethiopia  1926      4.0
6503  ETH     Ethiopia  1927      4.0
6504  ETH     Ethiopia  1928      4.0
6505  ETH     Ethiopia  1929      4.0
6506  ETH     Ethiopia  1930     -5.0
6507  ETH     Ethiopia  1931     -5.0
6508  ETH     Ethiopia  1932     -5.0
6509  ETH     Ethiopia  1933     -5.0
6510  ETH     Ethiopia  1934     -5.0
6511  ETH     Ethiopia  1935     -5.0
6512  ETH     Ethiopia  1936      NaN
6513  ETH     Ethiopia  1937      NaN
6514  ETH     Ethiopia  1938      NaN
6515  ETH     Ethiopia  1939      NaN
6516  ETH     Ethiopia  1940      NaN
6517  ETH     Ethiopia  1941      NaN
6518  ETH     Ethiopia  1942     -5.0
6519  ETH     Ethiopia  1943     -5.0
6520  ETH     Ethiopia  1944     -5.0
6521  ETH     Ethiopia  1945     -5.0
6522  ETH     Ethiopia  1946     -9.0
6523  ETH     Ethiopia  1947     -9.0
6524  ETH     Ethiopia  1948     -9.0
6525  ETH     Ethiopia  1949     -9.0
6526  ETH     Ethiopia  1950     -9.0
6527  ETH     Ethiopia  1951     -9.0
6528  ETH     Ethiopia  1952     -9.0
6529  ETH     Ethiopia  1953     -9.0
6530  ETH     Ethiopia  1954     -9.0
6531  ETH     Ethiopia  1955     -9.0
6532  ETH     Ethiopia  1956     -9.0
6533  ETH     Ethiopia  1957     -9.0
6534  ETH     Ethiopia  1958     -9.0
6535  ETH     Ethiopia  1959     -9.0
6536  ETH     Ethiopia  1960     -9.0
6537  ETH     Ethiopia  1961     -9.0
6538  ETH     Ethiopia  1962     -9.0
6539  ETH     Ethiopia  1963     -9.0
6540  ETH     Ethiopia  1964     -9.0
6541  ETH     Ethiopia  1965     -9.0
6542  ETH     Ethiopia  1966     -9.0
6543  ETH     Ethiopia  1967     -9.0
6544  ETH     Ethiopia  1968     -9.0
6545  ETH     Ethiopia  1969     -9.0
6546  ETH     Ethiopia  1970     -9.0
6547  ETH     Ethiopia  1971     -9.0
6548  ETH     Ethiopia  1972     -9.0
6549  ETH     Ethiopia  1973     -9.0
6550  ETH     Ethiopia  1974      0.0
6551  ETH     Ethiopia  1975     -7.0
6552  ETH     Ethiopia  1976     -7.0
6553  ETH     Ethiopia  1977     -7.0
6554  ETH     Ethiopia  1978     -7.0
6555  ETH     Ethiopia  1979     -7.0
6556  ETH     Ethiopia  1980     -7.0
6557  ETH     Ethiopia  1981     -7.0
6558  ETH     Ethiopia  1982     -7.0
6559  ETH     Ethiopia  1983     -7.0
6560  ETH     Ethiopia  1984     -8.0
6561  ETH     Ethiopia  1985     -8.0
6562  ETH     Ethiopia  1986     -8.0
6563  ETH     Ethiopia  1987     -8.0
6564  ETH     Ethiopia  1988     -8.0
6565  ETH     Ethiopia  1989     -8.0
6566  ETH     Ethiopia  1990     -8.0
6567  ETH     Ethiopia  1991      0.0
6568  ETH     Ethiopia  1992      0.0
6569  ETH     Ethiopia  1993      0.0

3g) Drop the remaining rows which have nan in "iso3" and display the new number of rows of the dataframe (how many are they?) **(1 point)**

In [24]:
# Answer 3g
new_iso3_drop = new_iso3.dropna(subset=['iso3'])
new_iso3_drop

      iso3      country  year  polity2
1230   MNE   Montenegro  2011      9.0
1231   SRB       Serbia  2011      8.0
1232   SSD  South Sudan  2011      0.0
1233   ETH     Ethiopia  2011     -3.0
1234   SDN  Sudan-North  2011     -4.0
...    ...          ...   ...      ...
17569  ZWE     Zimbabwe  2014      4.0
17570  ZWE     Zimbabwe  2015      4.0
17571  ZWE     Zimbabwe  2016      4.0
17572  ZWE     Zimbabwe  2017      4.0
17573  ZWE     Zimbabwe  2018      4.0

[16344 rows x 4 columns]

In [25]:
len(new_iso3_drop)

16344

### Question 4: Check Polity2 <a class="anchor" id="question4"></a>

4a) Display the first and last year included in the dataset **(1 point)**

In [26]:
# Answer 4a
print(df_subset.iloc[0]['year'])
print(df_subset.iloc[-1]['year'])

1800
2018

4b) What do the values in "polity2" represent? **(1 point)**

Answer 4b: 
Polity2 classifies the regime under which a country is subject to. It ranges from 10 (full democracy) to -10 (full autocracy).

In [27]:
new_iso3_drop['polity2']

1230     9.0
1231     8.0
1232     0.0
1233    -3.0
1234    -4.0
        ...
17569    4.0
17570    4.0
17571    4.0
17572    4.0
17573    4.0
Name: polity2, Length: 16344, dtype: float64

4c) Do we have weird values for polity2? If yes, why? What should we do about them? Transform the data accordingly. **(1 point)**

Answer 4c: Yes, we have weird values. The variable should only display values between 10 and -10, but it is actually showing some 'nan' values, -88 and -66.

In [30]:
# Answer 4c
new_iso3_drop['polity2'].unique()

array([  9.,   8.,   0.,  -3.,  -4.,  -7.,   1.,  -6.,  -8., -10.,  nan,
        -1.,  -2.,  -9.,  -5.,   3.,   5.,   7.,   2.,   6.,  10.,   4.,
       -88., -66.])

In [29]:
new_iso3_drop_clean = df_subset[(new_iso3_drop['polity2'] >= -10) & (new_iso3_drop['polity2'] <= 10)]

C:\Users\paula\AppData\Local\Temp\ipykernel_18068\3279178985.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  new_iso3_drop_clean = df_subset[(new_iso3_drop['polity2'] >= -10) & (new_iso3_drop['polity2'] <= 10)]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

4d) Make a map that shows the number of observations of polity2 by country **(1 point)**

In [ ]:
# Answer 4d

4e) Store the final dataframe (the one you obtained after 5d) in an object called df_pol **(1 point)**

In [ ]:
# Answer 4e

## Quality of Government Environmental Indicators <a class="anchor" id="qog"></a>

The QoG Environmental Indicators dataset (QoG-EI) (Povitkina, Marina, Natalia Alvarado Pachon & Cem Mert Dalli. 2021). The Quality of Government Environmental Indicators Dataset, version Sep21. University of Gothenburg: The Quality of Government Institute, https://www.gu.se/en/quality-government), is a compilation of indicators measuring countries' environmental performance over time, including the presence and stringency of environmental policies, environmental outcomes (emissions, deforestation, etc.), and public opinion on the environment. Codebook and data are available [here](https://www.gu.se/en/quality-government/qog-data/data-downloads/environmental-indicators-dataset).

### Question 5: Import the data and do few fixes <a class="anchor" id="question5"></a>

5a) Import data from the Quality of Government Environmental Indicators Dataset and display the variables types and the number of rows **(1 point)**
<br>
Hint: When you go on the webpage of the Environmental Indicators Dataset, you can directly import from a URL by copying the link address of the dataset!

In [ ]:
# Answer 5a
url = 'https://www.qogdata.pol.gu.se/data/qog_ei_sept21.csv'

df_five = pd.read_csv(url , encoding='latin-1')
df_five.dtypes

In [ ]:
len(df_five.index)

5b) Rename the variable "ccodealp" to "iso3" **(1 point)**

In [ ]:
# Answer 5b
df_five.rename(columns = {'ccodealp': 'iso3'}, inplace = True)

5c) Check the type of the variables "year" and "iso3" are string, if not convert them to string **(1 point)**

In [ ]:
# Answer 5c
print(df_five.dtypes["iso3"])

In [ ]:
print(df_five.dtypes["year"])

In [ ]:
df_five['year'] = df_five['year'].apply(str) #we convert 'year' into a string

print(df_five.dtypes["year"])

### Question 6: Merge QOG and Polity5 ... issues with QOG? <a class="anchor" id="question6"></a>

6a) Get a subset of the dataframe that includes the variables "cname", "iso3", "year" and "cckp_temp", and display the number of rows. **(1 point)**

In [ ]:
# Answer 6a
df_five_subset = df_five.loc[:, ('cname', 'iso3','year','cckp_temp')]
df_five_subset

In [ ]:
len(df_five_subset)

6b) Merge this subset (left) and the clean version of the polity data (right), using the argument how="left". Was the merge succesfull? If yes, how many rows has the merged dataframe? Is it the same number of rows of the subset in 6a? **(1 point)**

In [ ]:
# Answer 6b

6c) Do the same by adding the argument validate="one-to-one". Can you make some hypotheses on why you get an error? **(1 point)**

In [ ]:
# Answer 6c

6d) Consider the subset of the QOG you obtained in 6a and write a code to (i) count the number of observations for the variable "cckp_temp" for each combination of iso3 and year, (ii) store the results in a dataframe. For example, the combination "USA-2012" should have 1 observation for "cckp_temp", so the result of your code should be 1. The code should do this for all iso3-year combinations of your subset dataframe, and store the results in a dataframe. **(1 point)**
<br>
Hint: it should not take you more than 2 lines of code.

In [ ]:
# Answer 6d

6e) Use the code in 6d to write a function that displays all rows of the dataframe obtained in 6a that have more than one observation of "cckp_temp" for each iso3-year combination, and check if it works. **(1 point)**

In [ ]:
# Answer 6e

6f) Which countries have more than one observation for each iso3-year combination? Deal with these countries in the subset dataframe created in 6a to make sure you no longer have double observations for iso3-year combinations, and check that after your fix this is actually the case. **(1 point)**
<br>
Hint: should we keep a country with all missing values?

In [ ]:
# Answer 6f

6g) If your check went well, now you can perform the same operation directly in the QOG dataframe (not in the substed dataframe created in 6a). How many rows does now the QOG dataframe has? **(1 point)**

In [ ]:
# Answer 6g

### Question 7: Merge QOG and Polity5 ... issues with Polity5? <a class="anchor" id="question7"></a>

7a) Merge the cleaned QOG dataframe (left) and the Polity dataframe (right) using the options how="left" and validate="one_to_one". Does it work? Why? **(1 point)**

In [ ]:
# Answer 7a

7b) Use the function you wrote in 6e to check what's wrong in the "clean" version of Polity **(1 point)**

In [ ]:
# Answer 7b

7c) Drop or fix the countries that create troubles directly in the "clean" version of Polity and motivate your choices. **(1 point)**

In [ ]:
# Answer 7c

7d) Try now to merge the "clean-clean" versions of COG and Polity (the ones you obtained in 7g and 8c) always using the options how="left" and validate="one_to_one". Does it work, and why? How many rows has the resulting merged dataframe? **(1 point)**

In [ ]:
# Answer 7d

### Question 8: Clean the merged dataframe <a class="anchor" id="question8"></a>

8a) In the merged dataframe, order the columns so that you have the "index" variables first and the variables with actual values last. **(1 point)**
<br>
Hint: index variables are "iso3", "year" and other similar variables you can find, and the variables with actual values are "polity2", "cckp_temp" and other similar variables you can find.

In [ ]:
# Answer 8a

8b) Rename "cname" as "country" and "country" as "country_polity". **(1 point)**

In [ ]:
# Answer 8b

8c) Save the clean merged dataframe as a csv in a subfolder called "clean_data" in your working directory **(1 point)**

In [ ]:
# Answer 8c

## Exploratory Data Analysis <a class="anchor" id="eda"></a>

In this section you will define a research question and perform a preliminary Exploratory Data Analysis (EDA) to address - or better, start addressing - the question at hand. This exercise will be done along the lines of the analysis done by our own Quentin Gallea in "*A recipe to empirically answer any question quickly*" ([Towards Data Science, 2022](https://towardsdatascience.com/a-recipe-to-empirically-answer-any-question-quickly-22e48c867dd5)). In this article, Quentin shows the first steps of an EDA that aims to explore whether heat waves have pushed governments to implement regulations against climate change (causal link). The logic is that, as it gets hotter and hotter, governments become more aware of climate change, and the problems it can cause to society, and start addressing it. In Quentin's analysis, heat waves (proxied by temperature) is the "main explanatory variable", rainfall is the "explanatory variable for heterogeneity", and regulations against climate change (proxied by the Environmental Policy Stringency Index) is the "outcome variable". He finds that indeed countries with relatively high temperatures have implemented more regulations against climate change. This is true especially when rainfall levels are low, as when it does not rain the damage of extreme heat is more evident to legislators, who therefore apply stricter regulations against these phenomenons.
<br>
<br>
In this exercise, you will be asked to do a similar analysis on a research question of your choice, using at least two of the variables of the dataset we have created in the former questions (QOG + Polity). For example, "what is the average temperature in 2010?" is not a valid research question (univariate), while "what is the impact of high temperatures on the stringency of climate regulations?" is a valid research question (at least bivariate). As before, we will ask you some (this time more general and open) questions, and you should report your answer in the cells below each question. Use a mix of markdown and code cells to answer (markdown for text and code for graphs and tables). We should be able to run all the graphs, i.e. screenshots of graphs are not accepted. Note that for now we have put only one markdown cell and one code cell for the answer, but feel free to add as many cells as you need.
<br>
Beyond the python code, we will grade the interpretations of the results and the coding decision you make.
<br>
<br>
Let your creativity guide you and let's have some fun!

### Question 9: Selecting the ingredients (how I select the variables) <a class="anchor" id="question9"></a>
We have saved the clean merged data that resulted from the previous questions in "clean_data_prepared_EDA" (it should be the same of the one you saved in "clean_data"). Import the clean merged data from "clean_data_prepared_EDA" using this [link](https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/clean_data_prepared_EDA/df_qog_polity_merged.csv). Explore the variables in the newly obtained dataframe by checking the documentation of QOG and Polity. Then, define a research question that addresses a causal link between at least two of these variables. Describe the research question, why you are addressing it and the variables of interest (outcome variable, main explanatory variable and explanatory variable for heterogeneity). **(3 points)**

Answer 9:

In [ ]:
# Answer 9:
url = "https://raw.githubusercontent.com/edoardochiarotti/class_datascience/main/Notebooks/Assignment/individual_assignment/clean_data_prepared_EDA/df_qog_polity_merged.csv"

df_eda=pd.read_csv(url)
list(df_eda)

Answer 9: How the Co2 levels affect the regulations against climate of each country.
In my analysis, Co2 levels (proxied by temperature) is the "main explanatory variable", and regulations against climate change is the "outcome variable".

### Question 10: Picking the right quantity of each ingredient (how I select my sample) <a class="anchor" id="question10"></a>
Explore the data availability of your variables of interest and select a clean sample for the analysis. Describe this sample with the help of summary-statistics tables and maps. **(3 points)**

Answer 10:

In [ ]:
# Answer 10:

### Question 11: Tasting and preparing the ingredients (univariate analysis) <a class="anchor" id="question11"></a>
Do an univariate analysis for each variable you have chosen (outcome variable, main explanatory variable and explanatory variable for heterogeneity):
- Prepare the variable, for example see if you need to transform the data further, i.e. log-transform, define a categorical variable, deal with outliers, etc.
- Understand the nature of the variable, i.e. continuous, categorical, binary, etc., which then allows to pick the right statistical tool in the bivariate analysis.
- Get an idea of the variable's behaviour across time and space.

Describe these steps and the conclusions you can draw with the help of histograms, tables, maps and line graphs. **(3 points)**

Answer 11:

In [ ]:
# Answer 11:

### Question 12: Cooking the ingredients together (bivariate analysis) <a class="anchor" id="question12"></a>

Considering the "nature" of your variables (continuous, categorical, binary, etc.), pick the right tool / tools for a preliminary bivariate analysis, i.e. correlation tables, bar/line graphs, scatter plots, etc. Use these tools to describe your preliminary bivariate analysis and your findings. **(3 points)**

Answer 12:

In [ ]:
# Answer 12:

### Question 13: Tasting the new recipe (conclusion) <a class="anchor" id="question13"></a>

Explain what you learned, the problem faced, what would you do next (you can suggest other data you would like to have etc). **(2 points)**

Answer 13: